<div class="row text-center">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    <h1 class="text-primary">New person</h1>

    <%= link_to("Back to people", people_path, class: "btn btn-primary m-1") %>

    <%= render "form", person: @person %>
  </div>
</div>
